* {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* .nav{
    background-color: grey;
    top: 0;
    position: fixed;
    width: 100%;
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    align-items: center;
    
} */

.sidebar {
    padding-left: 20px;
    position: fixed;
    width: 250px;
    background-color: aquamarine;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li {
    margin-left: -25px;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background-color: blue;
    color: white;
}

.sidebar ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.container {
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.avatar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.avatar-circle {

    height: 100%;
    border-radius: 10rem;
}

.avatar-square {

    height: 100%;
    border-radius: .2rem;
}

.avatar-xs {
    width: 2rem;
}

.avatar-s {
    width: 4rem;
}

.avatar-l {
    width: 6rem;
}

.avatar-xl {
    width: 8rem;
}


.text-avatar-circle {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: rgb(65, 65, 65);
}

.text-avatar-cirle-xs {
    font-size: 1rem;
    width: 25px;
    height: 25px;
}

.text-avatar-cirle-s {
    font-size: 2rem;
    width: 50px;
    height: 50px;
}

.text-avatar-cirle-l {
    font-size: 3rem;
    width: 75px;
    height: 75px;
}

.text-avatar-cirle-xl {
    font-size: 4rem;
    width: 100px;
    height: 100px;
}

.alertlayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.alert-info {
    border: solid blue;
    color: blue;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(193, 204, 255);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-success {
    border: solid green;
    color: green;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(181, 255, 172);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-warning {
    border: solid orange;
    color: orange;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(250, 229, 191);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-danger {
    border: solid red;
    color: red;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(255, 204, 204);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badges-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.badge-content {
    display: flex;
    gap: 20px;
}

.badge {
    display: flex;
    align-items: flex-end;
}

.badge-green {
    border: solid green;
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: solid white;
    margin-left: -25px;
}

.badge-red {

    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: solid white;
    margin-left: -25px;
}

.badge-orange {

    background-color: orange;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: solid white;
    margin-left: -25px;
}

.badge-grey {
    background-color: grey;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: solid white;
    margin-left: -25px;
}

.badge-num {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: solid white;
    margin-left: -15px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}

.content {
    padding: 2rem;
    border-radius: 10px;
    background-color: bisque;
}

.button-primary {

    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(255, 59, 48, 0.75);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-alternate {

    color: black;
    font-size: 18px;
    font-weight: 600;
    border: solid black;
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-disabled {

    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 600;
    border: solid rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-disabled:hover {
    cursor: default;
}

.button-alternate:hover {
    color: rgba(0, 0, 0, 0.5);
    border: solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button-primary:hover {
    background-color: rgba(255, 59, 48, 0.5);
    cursor: pointer;
}

.button-fixed {
    border: solid black;
    padding: 10px;
    background-color: aquamarine;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9;
    font-size: 48px;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-basic {
    display: flex;
    width: 500px;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}

.card-basic:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card-options:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

.card-options {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 10px;
}

.card-basic span {
    font-weight: 600;
}

.cards-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;

    border-radius: 10px;
}

.card-vertical img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profilepic {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-nameinfo {
    display: flex;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

}

.card-buttons .button-alternate {
    color: white;
}

.card-badge {
    width: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 10px;
}


.badge-green-card {
    border: solid green;
    background-color: green;
    width: 30px;
    height: 20px;
    border-radius: 15px;
    border: solid white;
    margin-left: -30px;
    margin-top: -40px;
}

.badge-red-cancel {

    background-color: red;
    width: 30px;
    height: 100%;
    border-radius: 15px;
    border: solid white .5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}

.card-badge:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.card-close {
    border-radius: 50%;
    padding: 10px;
}

.card-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-text {
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.card-text:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.horiline {
    border: solid white .5px;
}

.card-text-btn {
    display: flex;
    gap: 20px;
}

.lightmode {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 50px;
}

.text-overlay {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgba(182, 182, 182, 0.6);

    position: absolute;
    height: 579px;
    width: inherit;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 28px;

}

.image img {
    width: 100%;
}

@media (max-width: 1000px) {
    .sidebar {
        display: none !important;
    }
}

.image-round {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.responsive-img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-round img {

    border-radius: 50%;
}

.make-half {
    width: 50%;
}

.input-normal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-normal input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;

}

.input-alert-danger {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: white;
    background-color: rgba(255, 59, 48, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.input-alert-success {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgba(56, 104, 46, 0.8);
    background-color: rgba(82, 255, 48, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.input-alert-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgba(56, 104, 46, 0.8);
    background-color: rgba(82, 255, 48, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.input-alert-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgba(41, 120, 134, 0.8);
    background-color: rgba(48, 224, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.input-alert-warning {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgba(126, 98, 22, 0.8);
    background-color: rgba(255, 200, 48, 0.8);
    padding: 10px;
    border-radius: 5px;
}


.text-utils {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-s {
    font-size: 10px;
}

.text-xs {
    font-size: 8px;
}

.text-content-small {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-with-gap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.notification ul li{
    list-style-type: none;
    padding: 10px;
    border: solid rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-notification{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-layout,.snackbar{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.navbar,.grid-easy{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar ul {
    display: flex;
    width: 800px;
    justify-content:center;
    align-items: center;
    list-style: none;
    background-color: rgba(48, 95, 79,1);
    padding: 10px;
    color: white;
    padding-left: 20px;
}
.navbar .rightmenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.rightmenu li{
    padding: 10px;
    border-radius: 5px;
}

.rightmenu li:hover{
    background-color:rgba(41, 120, 134, 0.8);
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(1,1,1,.75); /* Black w/ opacity */
  }

.modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #888888;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.rating-stars{
    display: flex;
    justify-content: center;
}
.rating-stars i:hover{
    color: gold;
}

.snackbar-content{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;

}

.snackbar-content a{
    color: rgba(209, 139, 255, 0.6);
}

.half-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.third-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.half-grid h3{
    padding: 20px;
    border: #888888 solid 0.5px;
}
.third-grid h3{
    padding: 20px;
    border: #888888 solid 0.5px;
}